
#mainDiv {   
    
    background-color: #43ac85;
}

#BtnDiv {

    padding-top:15px;  
    background-color: antiquewhite;
}
#listDiv{
    padding-left:15px;
    background-color: antiquewhite;
}

#thead{
    font-weight: bold;
}

a:link{
    color: black;
    font-size: 25px;
}