
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link href="~/stylesheet/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="mainDiv">
        <div>
            <a href="/home/index" class="refText">Startsida</a>
            <a href="/home/consults" class="refText">Konsulter</a>
            <a href="/bonus/index" class="refText">Bonuskalkyl</a>
        </div>

        @RenderBody()
    </div>
</body>
</html>
